# Editor directories and files
.idea
.vscode

# Package Manager
node_modules
logger
.pnpm-debug.log*
.pnpm-store
# pnpm-lock.yaml

# System
.DS_Store

# Bundle & Runtime
.vitepress/cache
# .vitepress/dist

# local
*.local
.history
